

/* Container to avoid full centering of content */
.app-content {
    padding-top: 70px;
    /* exactly your navbar height */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  /* remove any width or centering rules here */
}
